
<h1>Movai Social Media</h1>
<p>
	SM Outsourcing Firm
		<ul>
			<li><%= link_to "Twitter", "http://twitter.com" %></li>
			<li><%= link_to "Facebook", "http://facebook.com"%></li>
			<li><%= link_to "Pinterest", "http://Pinterest.com"%></li>
			<li><%= link_to "Instagram", "http://intagram.com"%></li>
			<li><%= link_to "Google+", "http://plus.google.com" %></li>
			<li><%= link_to "YouTube", "http://youtube.com"%></li>
			<li><%= link_to "LinkedIn", "http://linkedin.com"%></li>
			<li><%= link_to "Blogging", "http://wordpress.com"%></li>
</p>
<p>
	<%= link_to "How can Social Media increase your business?", "#" %>
</p>	
