<h1>Services</h1>	

<p>
	Define the Limits of Media 
		<ul>
			<li><%= link_to "Twitter", "http://twitter.com" %></li>
			<li><%= link_to "Facebook", "http://facebook.com"%></li>
			<li><%= link_to "Pinterest", "http://Pinterest.com"%></li>
			<li><%= link_to "Instagram", "http://intagram.com"%></li>
			<li><%= link_to "Google+", "http://plus.google.com" %></li>
			<li><%= link_to "YouTube", "http://youtube.com"%></li>
			<li><%= link_to "LinkedIn", "http://linkedin.com"%></li>
			<li><%= link_to "Blogging", "http://wordpress.com"%></li>
</p>
<p>
	<%= link_to "How can Social Media increase your business?", "#" %>
</p>	

<span style="color:blue;">



<i class="icon-twitter icon-4x"></i>

<i class="icon-tumblr icon-4x"></i>
<i class="icon-foursquare icon-4x"></i>
<i class="icon-instagram icon-4x"></i>
<i class="icon-youtube icon-4x"></i>
<i class="icon-facebook icon-4x"></i>
<i class="icon-google-plus icon-4x"></i>
<i class="icon-pinterest icon-4x"></i>

</span>