<div class="page-header">
  <h1>Services</h1>
  <small>Subtext for header</small>
</div>


<p>

<table class="table table-bordered, table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>Service</th>
            <th>Enterprise</th>
            <th>Small Business</th>
            <th>Consultation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monthly Content Report</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Initial Content Planning</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
		<tr>
            <td>Email Newsletter Planning</td>
            <td>Yes</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>Blog Post / Article</td>
            <td>8</td>
            <td>4</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Multi-Network Updates</td>
            <td>Yes</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>Monthly Newsletter</td>
            <td>Yes</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>Facebook Publishing</td>
            <td>Yes</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>Social Bookmarking</td>
            <td>Yes</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Directory Submission</td>
            <td>Yes</td>
            <td></td>
            <td></td>
        </tr>
</p>

<p>

	Define the Limits of Media 
		<ul>
			<li><%= link_to "Twitter", twitter_path%></li>
			<li><%= link_to "Facebook", facebook_path%></li>
			<li><%= link_to "Pinterest", pinterest_path%></li>
			<li><%= link_to "Instagram", instagram_path%></li>
			<li><%= link_to "Google+", google_path%></li>
			<li><%= link_to "YouTube", youtube_path%></li>
			<li><%= link_to "LinkedIn", linkedin_path%></li>
			<li><%= link_to "Blogging", blog_path%></li>

</p>

