<h1>Services</h1>
<p>

		<ul>
			<li><%= link_to "Twitter", "http://twitter.com" %></li>
			<li><%= link_to "Facebook", "http://facebook.com"%></li>
			<li><a href="http://linkedin.com">LinkedIn<a></li>
			<li><%= link_to "Pinterest", "http://Pinterest.com"%></li>
			<li><%= link_to "Instagram", "http://intagram.com"%></li>
</p>
<p>
	<%= link_to "How can Social Media increase your business?", "#" %>
</p>	
