<div class="page-header">
  <h1>Services</h1>
  <small>Subtext for header</small>
</div>


<p>
	Define the Limits of Media 
		<ul>
			<li><%= link_to "Twitter", twitter_path%></li>
			<li><%= link_to "Facebook", facebook_path%></li>
			<li><%= link_to "Pinterest", pinterest_path%></li>
			<li><%= link_to "Instagram", instagram_path%></li>
			<li><%= link_to "Google+", google_path%></li>
			<li><%= link_to "YouTube", youtube_path%></li>
			<li><%= link_to "LinkedIn", linkedin_path%></li>
			<li><%= link_to "Blogging", blog_path%></li>
</p>
<p>
	<%= link_to "How can Social Media increase your business?"%>
</p>	


