	<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("austin.jpeg", alt: "Cat", :size=> "400x200") %>
      <div class="caption">
        <h3>Austin</h3>
        <h4>The Best</h4>
        <p>Have you ever considered from a business perspective the myriad of social media sites which exist? With each fleeting year, additional platforms are invented to assist us in fulfilling our natural desire to connect and share with other people.
        <p>

        <a href="#" class="btn btn-primary">LinkedIn</a> 
        <a href="#" class="btn btn-primary"><i class="icon-google-plus icon-2x"></i></a></p>

      </div>
    </div>
  </div>


<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("Matthew.jpeg", alt: "Matthew", :size=> "400x200") %>
      <div class="caption">
        <h3>Matthew</h3>
        <h4>The Vegan</h4>
        <p><p>Have you ever considered from a business perspective the myriad of social media sites which exist? With each fleeting year, additional platforms are invented to assist us in fulfilling our natural desire to connect and share with other people.
        <p><a href="#" class="btn btn-success">MySpace</a> 
        <a href="#" class="btn btn-default">Action</a></p>
      </div>
    </div>
  </div>


	<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("Khanh.jpeg", alt: "Khanh", :size=> "400x200") %>
      <div class="caption">
        <h3>Khanh</h3>
        <h4>The Wrath of Khan</h4>
        <p><p>Have you ever considered from a business perspective the myriad of social media sites which exist? With each fleeting year, additional platforms are invented to assist us in fulfilling our natural desire to connect and share with other people.
        <p><a href="#" class="btn btn-warning">Action</a> <a href="#" class="btn btn-default">Action</a></p>
      </div>
    </div>
  </div>


<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("Ian.jpeg", alt: "Ian", :size=> "400x200") %>
      <div class="caption">
        <h3>Ian</h3>
        <h4>The Body Builder</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
      </div>
    </div>
  </div>


<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("Andy.jpeg", alt: "Andy", :size=> "400x200") %>
      <div class="caption">
        <h3>Andy</h3>
        <h4>The Ranger</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
      </div>
    </div>
  </div>


<div class="row-fluid">
  <div class="span4">
    <div class="thumbnail">
      <%= image_tag("Tyler.jpeg", alt: "Tyler", :size=> "400x200") %>
      <div class="caption">
        <h3>Tyler</h3>
        <h4>The Bearded Man</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>